<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Новое дежурство</title>
</head>
<body>
<nav class="flex justify-between text-3xl my-3">
    <ul class="flex ml-10">
        <li><a href="https://hilarious-soapwort-8c0.notion.site/8364fbe2d2c9460daca985b32da7d662">Новое дежурство</a></li>
    </ul>
    <ul class="flex gap-5 mr-10">
        <li><a href="account">Аккаунт</a></li>
        <li><a href="https://t.me/pavelepanov">Создатель</a></li>
    </ul>
</nav>
<hr>
<a href="search">Добавить нарушение</a>
<br>
<a href="account">Аккаунт</a>
<br>
<a href="logout">Выйти с аккаунта</a>

{% block content %}

{% endblock %}
</body>
</html>