<!DOCTYPE html>
<html>
<head>
    <title>Новое дежурство</title>
    <meta charset="utf-8"/>
</head>
<body>
    <h1>Defection</h1>
    <form method="POST">
        <label for="name">Name:</label><br>
        <input type="text" name="name"><br>
        <label for="surname">Surname:</label><br>
        <input type="text" name="surname"><br>
        <label for="grade">Grade:</label><br>
        <input type="number" name="grade"><br>
        <label for="letter">Letter:</label><br>
        <input type="text" name="letter"><br>
        <label for="defection_type">Defection_type:</label><br>
        <input type="text" name="defection_type"><br>
        <label for="reason">Reason:</label><br>
        <input type="text" name="reason"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
