<!DOCTYPE html>
<html>
<head>
    <title>Новое дежурство</title>
    <meta charset="utf-8"/>
</head>
<body>
    <h1>Defection</h1>
    <form method="POST">
        <label for="name">Name:</label><br>
        <input type="text" name="name"><br>
        <label for="surname">Surname:</label><br>
        <input type="text" name="surname"><br>
        <label for="grade">Grade:</label><br>
        <input type="number" name="grade"><br>
        <label for="letter">Letter:</label><br>
        <input type="text" name="letter"><br>
        <label for="defection_type">Defection_type:</label><br>
        <input type="text" name="defection_type"><br>
        <label for="reason">Reason:</label><br>
        <input type="text" name="reason"><br>
        <input type="submit" value="Submit">
    </form>
    <br>
<a href="base">Главная страница</a>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Новое дежурство</title>-->
<!--    <meta charset="utf-8"/>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Defection</h1>-->
<!--    <form method="POST">-->
<!--        <label for="name">Name:</label><br>-->
<!--        <input type="text" name="name"><br>-->
<!--        <label for="surname">Surname:</label><br>-->
<!--        <input type="text" name="surname"><br>-->
<!--        <label for="grade">Grade:</label><br>-->
<!--&lt;!&ndash;        <input type="number" name="grade"><br>&ndash;&gt;-->
<!--        <select name="grade" id="1">-->
<!--            <option value="1">1</option>-->
<!--            <option value="2">2</option>-->
<!--            <option value="3">3</option>-->
<!--            <option value="4">4</option>-->
<!--            <option value="5">5</option>-->
<!--            <option value="6">6</option>-->
<!--            <option value="7">7</option>-->
<!--            <option value="8">8</option>-->
<!--            <option value="9">9</option>-->
<!--            <option value="10">10</option>-->
<!--            <option value="11">11</option>-->
<!--        </select>-->
<!--        <br>-->
<!--        <label for="letter">Letter:</label><br>-->
<!--&lt;!&ndash;        <input type="text" name="letter"><br>&ndash;&gt;-->
<!--               <select name="letter" id="2">-->
<!--            <option value="A">А</option>-->
<!--                   <option value="B">Б</option>-->
<!--                   <option value="C">В</option>-->
<!--                   <option value="D">Г</option>-->
<!--        </select>-->
<!--        <br>-->
<!--        <label for="defection_type">Defection_type:</label><br>-->
<!--&lt;!&ndash;        <input type="text" name="defection_type"><br>&ndash;&gt;-->
<!--        <select name="defection_type" id="3">-->
<!--            <option value="no card">Отсутствие пропуска</option>-->
<!--            <option value="being late">Опоздание</option>-->
<!--            <option value="appearance">Внешний вид</option>-->
<!--        </select>-->
<!--        <br>-->
<!--        <label for="reason">Reason:</label><br>-->
<!--        <input type="text" name="reason"><br>-->
<!--        <input type="submit" value="Submit">-->
<!--    </form>-->
<!--    <br>-->
<!--<a href="base">Главная страница</a>-->
<!--</body>-->
<!--</html>-->


